body {
    overflow-x: hidden;
}

.players {
    margin: -16px;
}

.player {
    display: inline-flex;
    flex-flow: column;
    margin: 16px;
    max-width: 200px;
}

.you {
    margin: auto;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    margin: -8px;
}

.card-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
}

.card {
    display: flex;
    border: solid 1px;
    padding: 8px;
    margin: 8px;
    height: 100px;
    max-width: 50px;
    align-items: center;
    justify-content: center;
}

.card-picture {
    max-width: 50px;
}

.stock-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.game-background {
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    width: 100vw;
    z-index: -1;
}
