.players {
  margin: -16px;
}
.player {
  display: inline-flex;
  flex-flow: column;
  margin: 16px;
}
.you{
  margin: auto;
}

.cards {
  display: flex;
  margin: -8px;
}

.card {
  display: flex;
  border: solid 1px;
  padding: 8px;
  margin: 8px;
}
